/* Coolors Exported Palette - https://coolors.co/e4bc2b-fcce2a-0d3b66-fffeff-f7f0f5 */

/* CSS HEX */
--saffron: #e4bc2bff;
--sunglow: #fcce2aff;
--indigo-dye: #0d3b66ff;
--white: #fffeffff;
--magnolia: #f7f0f5ff;

/* CSS HSL */
--saffron: hsla(47, 77%, 53%, 1);
--sunglow: hsla(47, 97%, 58%, 1);
--indigo-dye: hsla(209, 77%, 23%, 1);
--white: hsla(300, 100%, 100%, 1);
--magnolia: hsla(317, 30%, 95%, 1);

/* SCSS HEX */
$saffron: #e4bc2bff;
$sunglow: #fcce2aff;
$indigo-dye: #0d3b66ff;
$white: #fffeffff;
$magnolia: #f7f0f5ff;

/* SCSS HSL */
$saffron: hsla(47, 77%, 53%, 1);
$sunglow: hsla(47, 97%, 58%, 1);
$indigo-dye: hsla(209, 77%, 23%, 1);
$white: hsla(300, 100%, 100%, 1);
$magnolia: hsla(317, 30%, 95%, 1);

/* SCSS RGB */
$saffron: rgba(228, 188, 43, 1);
$sunglow: rgba(252, 206, 42, 1);
$indigo-dye: rgba(13, 59, 102, 1);
$white: rgba(255, 254, 255, 1);
$magnolia: rgba(247, 240, 245, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e4bc2bff, #fcce2aff, #0d3b66ff, #fffeffff, #f7f0f5ff);
$gradient-right: linear-gradient(90deg, #e4bc2bff, #fcce2aff, #0d3b66ff, #fffeffff, #f7f0f5ff);
$gradient-bottom: linear-gradient(180deg, #e4bc2bff, #fcce2aff, #0d3b66ff, #fffeffff, #f7f0f5ff);
$gradient-left: linear-gradient(270deg, #e4bc2bff, #fcce2aff, #0d3b66ff, #fffeffff, #f7f0f5ff);
$gradient-top-right: linear-gradient(45deg, #e4bc2bff, #fcce2aff, #0d3b66ff, #fffeffff, #f7f0f5ff);
$gradient-bottom-right: linear-gradient(135deg, #e4bc2bff, #fcce2aff, #0d3b66ff, #fffeffff, #f7f0f5ff);
$gradient-top-left: linear-gradient(225deg, #e4bc2bff, #fcce2aff, #0d3b66ff, #fffeffff, #f7f0f5ff);
$gradient-bottom-left: linear-gradient(315deg, #e4bc2bff, #fcce2aff, #0d3b66ff, #fffeffff, #f7f0f5ff);
$gradient-radial: radial-gradient(#e4bc2bff, #fcce2aff, #0d3b66ff, #fffeffff, #f7f0f5ff);